@import './variables.scss';

%section-black {
    @extend %flex-row;
    background-color: $color-black;
    padding: 10px 0;
    justify-content: space-between;
    color: white;

}

%section-green {
    @extend %flex-row;
    background-color: $color-green;
    padding: 10px 0;
    justify-content: space-between;

}

%content-layout {
    width: 80%;
    @extend %flex-col;
    grid-row-gap: $spacing-m;

    margin-top: $spacing-l;
    margin-bottom: $spacing-l;
}

.kit {
    &--hero {
        @extend %section-green;

        &__content {
            @extend %content-layout;
        }
    }

    &--button {
        @extend %section-black;
        &__content {
            @extend %content-layout;

        }
    }

    &--tabs {
        @extend %section-black;

        &--green {
            @extend %section-green;
        }

        &__content {
            @extend %content-layout;
        }
    }

    &--text {
        @extend %section-black;
        &__content {
            @extend %content-layout;
        }
    }

    &--card {
        @extend %section-black;
        &__content {
            @extend %content-layout;
        }
    }
}