@import './variables.scss';

%section-black {
    @extend %flex-row;
    background-color: $color-black;
    padding: 10px 0;
    justify-content: space-between;

}

%section-green {
    @extend %flex-row;
    background-color: $color-green;
    padding: 10px 0;
    justify-content: space-between;

}

/* ------------------------------ Section ------------------------------ */

.home {
    width: 100%;

    @extend %flex-col;

    &--hero {
        background-color: $color-green;
        height: 1000px;

        &__buttons {
            @extend %flex-row;

            grid-column-gap: $spacing-s;
        }

        &__contents {
            @extend %flex-row;

            justify-content: space-between;
            align-items: end;
            width: 80%;
        }
    }

    &--video {
        width: 80vw;
        height: 40vw;
        background-color: rgb(0, 0, 0);
        position: absolute;

        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 60vh;
    }

    &--about {
        // appearance
        width: 100vw;
        min-height: 100vh;
        background-color: $color-black;

        // layout
        @extend %flex-row;

        justify-content: space-between;

        &__wrapper {
            @extend %flex-row;
            justify-content: space-between;
            width: 100%;
        }

        &__content {
            width: 80%;
            @extend %flex-col;
            grid-row-gap: $spacing-xl;

            margin-top: 100vh;
            margin-bottom: $spacing-m;
        }
    }

    &--services {
        @extend %section-green;

        &__content {
            width: 80%;
            @extend %flex-col;
            grid-row-gap: $spacing-xxl;

            margin-top: $spacing-xxl;
            margin-bottom: $spacing-m
        }

        &__block {
            @extend %flex-row;

            justify-content: space-between;

            &__content {
                @extend %flex-col;
                justify-content: space-between;
            }
        }
    }

    &--portfolio {
        @extend %section-green;
        
        &__content {
            // appearance
            width: 80%;

            // layout
            @extend %flex-col;
            align-items: center;
            grid-row-gap: $spacing-xl;

            margin-top: $spacing-xxl;
            margin-bottom:$spacing-m
        }
    }

    &--contact {
        @extend %section-black;

        &__content {
            @extend %flex-col;
            width: 80%;
            
            margin-top: $spacing-m;
            margin-bottom: $spacing-m;
        }

        &__label {
            font-size: medium;
            color: white;
        }

        &__form {
            @extend %flex-col;

            grid-row-gap: $spacing-m;
        }

        &__header {
            font-size: 30pt;
            color: white;
            margin-bottom: $spacing-l;
        }
    }
}