@import './variables.scss';

%section-black {
    @extend %flex-row;
    background-color: $color-black;
    padding: 10px 0;
    justify-content: space-between;
    color: white;

}

%section-green {
    @extend %flex-row;
    background-color: $color-green;
    padding: 10px 0;
    justify-content: space-between;
    color: black;

}

%content-layout {
    width: 80%;
    @extend %flex-col;
    grid-row-gap: $spacing-m;

    margin-top: $spacing-xxl;
    margin-bottom: $spacing-xxl;
}

/* ------------------------------ Section ------------------------------ */

.home {
    width: 100%;

    @extend %flex-col;

    &--hero {
        background-color: $color-green;
        height: 1000px;

        &__buttons {
            @extend %flex-row;

            grid-column-gap: $spacing-s;
        }

        &__contents {
            @extend %flex-row;

            justify-content: space-between;
            align-items: end;
            width: 80%;

            // spacing
            margin-top: $spacing-xl;
        }
    }

    &--video {
        width: 85vw;
        height: 40vw;
        background-color: rgb(0, 0, 0);
        position: absolute;

        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 70vh;
    }

    &--about {
        @extend %section-black;

        &__wrapper {
            @extend %flex-row;
            justify-content: space-between;
            width: 100%;
        }

        &__content {
            @extend %content-layout;
        }
    }

    &--services {
        @extend %section-green;

        &__content {
            @extend %content-layout;
        }

        &__block {
            @extend %flex-row;

            justify-content: space-between;

            &__content {
                @extend %flex-col;
                justify-content: space-between;
            }
        }
    }

    &--portfolio {
        @extend %section-green;
        
        &__content {
            @extend %content-layout;
        }
    }

    &--contact {
        @extend %section-black;

        &__content {
            @extend %content-layout;
        }

        &__label {
            font-size: medium;
            color: white;
        }

        &__form {
            @extend %flex-col;

            grid-row-gap: $spacing-m;
        }

        &__header {
            font-size: 30pt;
            color: white;
            margin-bottom: $spacing-l;
        }
    }
}