@import './variables.scss';

/* ------------------------------ Normalize ------------------------------ */

html {
    background-color: $color-green;
}
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $root-font-size;
}

button, input {
    background-color: transparent
    ;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    padding: 0;
}

/* ------------------------------ Utility ------------------------------ */

// layout
.flex-row {
    display: flex;
    flex-direction: row;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.gap-s {
    grid-row-gap: $spacing-s;
    grid-column-gap: $spacing-s;
}

.gap-m {
    grid-row-gap: $spacing-m;
    grid-column-gap: $spacing-m;
}

.gap-l {
    grid-row-gap: $spacing-l;
    grid-column-gap: $spacing-l;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-m {
    height: 500px;
    width: 500px;
    background-color: black;
}

.hidden {
    visibility: hidden;
}

// text
.heading-1 {
    font-size: 70pt;
}

.heading-2 {
    font-size: 50pt;

    &--white {
        color: white;
    }
}

.heading-3 {
    font-size: 30pt;

    &--white {
        color: white;
    }
}

.paragraph-s {
    font-size: 10pt;

    &--white {
        color: white;
    }
}

.paragraph-m {
    font-size: 12pt;

    &--white {
        color: white;
    }
}

// color
.white--primary {
    color: white;
}

.white--secondary {

}

.white--tertiary {

}

.orange {
    color: orange;
}

.about__img {
    height: 500px;
    width: 500px;
    background-color: black;
}

.verticalText-container {
    padding: $spacing-l 0;
}

.vertical-text {
    font-size: 100pt;
    writing-mode: vertical-rl;
    position: sticky;
    top: 20vh;
    color: rgba(0, 0, 0, 0.7);

    &--white {
        color: rgba(255, 255, 255, 0.5);
    }

    &--black {

    }
}

.navBar-spacer {
    width: 100%;
    height: 50px;
}

.spacer-video {
    width: 80vw;
    height: 40vw;
}


.icon-m {
    height: 30px;
    width: 30px;
}

.icon-l {
    height: 70px;
    width: 70px;
}

.img-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ------------------------------ Component ------------------------------ */

.card {
    &--portfolio {
        width: 100%;
        display: flex;
        flex-direction: row;
        

        &__BG {
            width: 100%;
            height: 50vh;
            background-color: beige;
            position: relative;

            //box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px;
            
            // Motion
            transform: scale(1);
            transition: transform 0.2s ease-in-out;
        }
    
        &__content {
            // appearance
            background-color: $color-black;
            height: 100%;
            width: 40%;

            padding: 0 10px;
            position: absolute;
            left: 0;
            top: 0;

            // layout
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-row-gap: $spacing-s;

            // motion
            clip-path: inset(0 100% 0 0);
            transition: clip-path 0.2s ease-in-out;
        }

        &__overlap {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.3);
            // motion
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &:has(&__BG:hover) {
            .card--portfolio__content {
                clip-path: inset(0 0 0 0%);
            }
            .card--portfolio__BG {
                transform: scale(0.98);
            }
            .card--portfolio__overlap {
                opacity: 1;
            }
        }
    }

    &--about {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-column-gap: $spacing-m;

        &__header {
            font-size: 50pt;
            color: white;
            font-weight: 700;
        }

        &__header-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;

            grid-column-gap: $spacing-m;
        }

        &__accordion-toggle {
            visibility: hidden;
        }

        &__content {
            color: white;

            // motion
            clip-path: inset(0 0 100% 0);
            opacity: 0;
            transition: clip-path 0.2s ease-in-out, opacity 0.5s ease-in-out;
        }

        &__img {
            height: 0;
            width: 500px;
            background-color: black;

            // motion
            clip-path: inset(0 100% 0 0);
            transition: clip-path 0.2s ease-in-out, height 0.2s ease-in-out;

        }

        &:has(&__accordion-toggle:checked) {
            .card--about__content {
                clip-path: inset(0 0 0 0);
                opacity: 1;
            }

            .card--about__img {
                clip-path: inset(0 0 0 0);
                height: 500px;
            }

        }
    }

    &--services {
        background-color: $color-green;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__header {
            font-size: 50pt;
        }

        &__accordion-toggle {
            display: none;
        }

        &__list {
            font-size: 12pt;
            display: flex;
            flex-direction: column;
            grid-row-gap: $spacing-m;

            // motion
            clip-path: inset(0 100% 0 0);
            transition: clip-path 0.2s ease-in-out;
        }

        &__img {
            height: 0;
            width: 500px;
            background-color: black;

            // motion
            clip-path: inset(0 100% 0 0);
            transition: clip-path 0.2s ease-in-out, height 0.2s ease-in-out;
        }

        &__btn {
            // motion
            visibility: hidden;
        }

        &:has(&__accordion-toggle:checked) {
            .card--services__img {
                clip-path: inset(0 0 0 0);
                height: 500px;
            }

            .card--services__list {
                clip-path: inset(0 0 0 0);
            }

            .card--services__btn {
                visibility: visible;
            }
        }
    }
}

/* button */
.button {
    // appearance
    border-style: none;
    border-radius: 10px;

    // layout
    display: flex;
    align-items: center;
    justify-content: center;

    &--primary {
        background-color: $color-green;
        color: $color-black;

        // motion
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: $color-green-hover;
        }
    }

    &--secondary {
        background-color: black;
        color: white;

        // motion
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    &--outLine-primary {
        border: 2px solid;
        border-color: $color-green;
        color: $color-green;

        // motion
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
            background-color: $color-green;
            color: $color-black;
        }
    }

    &--outLine-secondary {
        border: 2px solid;
        border-color: $color-black;
        color: black;

        // motion
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
            background-color: $color-black;
            color: white;
        }
    }

    &--small {
        padding-left: 12px;
        padding-right: 12px;
        height: 30px;

        font-weight: 500;
        font-size: 12pt;
    }

    &--medium {
        padding-left: 20px;
        padding-right: 20px;
        height: 40px;
        
        // font
        font-weight:600;
        font-size: 14pt;
    }

    &--large {
        padding-left: 40px;
        padding-right: 40px;
        height: 60px;

        font-weight:600;
        font-size: 16pt;
    }
}

.tag {
    height: 50px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    &--no-style {
        text-decoration: underline;
    }

    &--white {
        background-color: white;
    }

    &--green {
        background-color: $color-green;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: $color-green-hover;
        }
    }

    &--black {
        background-color: black;
    }

    &--outLine {
        border: 2px solid;

        &--white {
            border-color: white;
        }

        &--green {
            border-color: green;
        }

        &--black {
            border-color: black;
            transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    &__content {
        &--white {
            color: white;
        }
    }
}

.input {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;


    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;

    &--outLine {

        &--white {
            border-bottom-color: white;
        }

        &--green {
            border-bottom-color: green;
        }

        &--black {
            border-bottom-color: black;
        }
    }

    &__content {
        &--white {
            color: white;
        }
    }
}

.navBar {
    width: 100%;
    height: 50px;

    position: fixed;
    z-index: 1;
    backdrop-filter: blur(20px);

    // Appearance
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-width: 1px;

    // layout
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // motion
    transition: transform 0.2s ease-in-out;


    &--hidden {
        transform: translateY(-100%); /* 隱藏nav */
    }

    &__logo {
        height: 30px;
        width: 30px;

        margin-left: $spacing-m;
        margin-right: $spacing-xs;
    }

    &__logo-text {

    }

    &__menuBtn-line {
        height: 5px;
        width: 20px;
        background-color: black;
    }

    &__menuBtn {
        display: flex;
        flex-direction: column;
        grid-row-gap: 2px;

        position: absolute;

        top: 10px;
        right: 10px;
    }

    &__links {
        display: flex;
        flex-direction: row;
        grid-column-gap: 1rem;
        margin-right: $spacing-m;
    }

    &__checkbox {
        display: none;
    }

    &__sideBar {
        background-color: $color-yellow;
        width: 40vw;
        height: 100vh;


        // layout
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        right: 0;
        top: 0;

        // text
        color: black;
        font-size: 24pt;

        // motion
        clip-path: inset(0 0 0 100%);
        transition: clip-path 0.2s ease-in-out;

        &__list {
            display: flex;
            flex-direction: column;
            grid-row-gap: $spacing-s;
            padding-left: 40px;
        }

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            margin-top: $spacing-s;
        }

        &__content {
            width: 100%;
        }

        &__footer {
            height: 40vh;

        }

        &__listItem-CN {
            font-size: 24pt;
        }

        &__listItem-EN {
            font-size: 12pt;
        }

        &__overlap {
            height: 100vh;
            width: 100vw;
            position: absolute;
            background: rgba(0, 0, 0, 0.3);
            
            top: 0;
            left: 0;

            // motion
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            pointer-events: none;
        }
    }

    &:has(&__checkbox:checked) {
        .navBar__sideBar__overlap {
            opacity: 1;
            pointer-events: auto;
        }

        .navBar__sideBar {
            clip-path: inset(0 0 0 0);
        }

    }
}

.footer {
    background-color: $color-black;

    &__content {
        // appearance
        width: 80%;

        // layout
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row-gap: $spacing-m;
        
    }

    &__link-icons {
        // layout
        display: flex;
        flex-direction: row;

        grid-column-gap: $spacing-m;

    }
}


.portfolio__tags {
    display: flex;
    flex-direction: row;
    grid-column-gap: $spacing-s;

    margin-bottom: $spacing-l;
}

// portfolio page

.portfolio {
    background-color: $color-green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__content {
        width: 80%;
        display: flex;
        flex-direction: column;
        grid-row-gap: $spacing-xxl;
        align-items: center;

        margin-top: $spacing-xxl;
        margin-bottom:$spacing-m
    }

    &__header {
        font-size: 50pt;
    }
}