@import './variables.scss';

/* ------------------------------ Normalize ------------------------------ */
body {
    margin: 0;
    padding: 0;
    background-color: $color-black;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $root-font-size;

}

button, input, a {
    background-color: transparent;
    border-style: none;
    text-decoration: none;
    color: inherit;
}

ol, ul {
    padding: 0;
}

/* ------------------------------ Utility ------------------------------ */

// layout
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image-s {
    height: 300px;
    width: 300px;
    background-color: black;
}

.image-m {
    height: 500px;
    width: 500px;
    background-color: black;
}

.visibility-hidden {
    visibility: hidden;
}

// text
.display-1 {
    font-size: 96px;
    font-weight: 800;
    letter-spacing: 1px;
}

.display-0 {
    font-size: 128px;
    font-weight: 800;
    letter-spacing: 1px;
}

.heading-1 {
    font-size: 64px;
    font-weight: 700;
}

.heading-2 {
    font-size: 48px;
    font-weight: 700;
}

.heading-3 {
    font-size: 32px;
    font-weight: 700;
}

.paragraph-s {
    font-size: 12px;
}

.paragraph-m {
    font-size: 16px;
}

// color
.white--primary {
    color: white;
}

.white--secondary {
    color: $color-white--secondary;
}

.white--tertiary {

}

.orange {
    color: $color-orange;
}

.bg-black {
    background-color: $color-black;
}

.bg-green {
    background-color: $color-green;
}

.about__img {
    height: 500px;
    width: 500px;
    background-color: black;
}

.verticalText-container {
    padding: $spacing-l 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vertical-text {
    font-size: 100pt;
    writing-mode: vertical-rl;
    position: sticky;
    top: 20vh;
    color: rgba(0, 0, 0, 0.7);

    &--white {
        color: rgba(255, 255, 255, 0.5);
    }

    &--black {

    }
}

.icon {
    &-m {
        height: 30px;
        width: 30px;
    }

    &-l {
        height: 70px;
        width: 70px;
    }
}

.img-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

// spacing
.spacer {
    &-xxs {height: $spacing-xxs;}
    &-xs {height: $spacing-xs;}
    &-s {height: $spacing-s;}
    &-m {height: $spacing-m;}
    &-l {height: $spacing-l;}
    &-xl {height: $spacing-xl;}
    &-xxl {height: $spacing-xxl;}
}

.m {
    &-t {
        &-xxs {margin-top: $spacing-xxs}
        &-xs {margin-top: $spacing-xs}
        &-s {margin-top: $spacing-s}
        &-m {margin-top: $spacing-m}
        &-l {margin-top: $spacing-l}
        &-xl {margin-top: $spacing-xl}
        &-xxl {margin-top: $spacing-xxl}
    }
    &-b {
        &-xxs {margin-bottom: $spacing-xxs}
        &-xs {margin-bottom: $spacing-xs}
        &-s {margin-bottom: $spacing-s}
        &-m {margin-bottom: $spacing-m}
        &-l {margin-bottom: $spacing-l}
        &-xl {margin-bottom: $spacing-xl}
        &-xxl {margin-bottom: $spacing-xxl}
    }
    &-l {
        &-xxs {margin-left: $spacing-xxs}
        &-xs {margin-left: $spacing-xs}
        &-s {margin-left: $spacing-s}
        &-m {margin-left: $spacing-m}
        &-l {margin-left: $spacing-l}
        &-xl {margin-left: $spacing-xl}
        &-xxl {margin-left: $spacing-xxl}
    }
    &-r {
        &-xxs {margin-right: $spacing-xxs}
        &-xs {margin-right: $spacing-xs}
        &-s {margin-right: $spacing-s}
        &-m {margin-right: $spacing-m}
        &-l {margin-right: $spacing-l}
        &-xl {margin-right: $spacing-xl}
        &-xxl {margin-right: $spacing-xxl}
    }
}

.p {
    &-t {
        &-xxs{padding-top: $spacing-xxs;}
        &-xs{padding-top: $spacing-xs;}
        &-s{padding-top: $spacing-s;}
        &-m{padding-top: $spacing-m;}
        &-l{padding-top: $spacing-l;}
        &-xl{padding-top: $spacing-xl;}
        &-xxl{padding-top: $spacing-xxl;}
    }

    &-b {
        &-xxs{padding-bottom: $spacing-xxs;}
        &-xs{padding-bottom: $spacing-xs;}
        &-s{padding-bottom: $spacing-s;}
        &-m{padding-bottom: $spacing-m;}
        &-l{padding-bottom: $spacing-l;}
        &-xl{padding-bottom: $spacing-xl;}
        &-xxl{padding-bottom: $spacing-xxl;}
    }

    &-l {
        &-xxs{padding-left: $spacing-xxs;}
        &-xs{padding-left: $spacing-xs;}
        &-s{padding-left: $spacing-s;}
        &-m{padding-left: $spacing-m;}
        &-l{padding-left: $spacing-l;}
        &-xl{padding-left: $spacing-xl;}
        &-xxl{padding-left: $spacing-xxl;}
    }

    &-r {
        &-xxs{padding-right: $spacing-xxs;}
        &-xs{padding-right: $spacing-xs;}
        &-s{padding-right: $spacing-s;}
        &-m{padding-right: $spacing-m;}
        &-l{padding-right: $spacing-l;}
        &-xl{padding-right: $spacing-xl;}
        &-xxl{padding-right: $spacing-xxl;}
    }
}

.gap {
    &-xxs {gap: $spacing-xxs;}
    &-xs {gap: $spacing-xs;}
    &-s {gap: $spacing-s;}
    &-m {gap: $spacing-m;}
    &-l {gap: $spacing-l;}
    &-xl {gap: $spacing-xl;}
    &-xxl {gap: $spacing-xxl;}
}

.navBar-spacer {
    width: 100%;
    height: 50px;
}

.spacer-video {
    width: 80vw;
    height: 40vw;
}


// other

.line {
    &--white {
        height: 1px;
        width: 100%;
        background-color: $color-white--secondary;
    }

    &--black {
        height: 1px;
        width: 100%;
        background-color: black
    }
}


/* ------------------------------ Component ------------------------------ */

.card {
    &--base {
        @extend %flex-col;
        grid-row-gap: $spacing-s;
        width: 100%;
        align-items: start;
        overflow: hidden;
        max-height: 80px;

        transition: max-height 0.5s ease-in-out;

        &:has(.card--base__toggle:checked) {
            max-height: 999px;
        }

        &__header {
            @extend %flex-row;
            align-items: center;

            grid-column-gap: $spacing-m;
            transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1);
            margin-bottom: $spacing-l;

            &:hover {
                transform: translateX(10px)

            }
        }

        &__icon-add {
            position: absolute;
            opacity: 1;

            transition: opacity 0.1s ease-in-out, transform 0.2s cubic-bezier(0, 0, 0.5, 1);
        }

        &__icon-sub {
            position: absolute;
            opacity: 0;

            transition: opacity 0.1s ease-in-out, transform 0.2s cubic-bezier(0, 0, 0.5, 1);
        }

        &__toggle {
            display: none;

            &:checked ~ .card--base__header .card--base__icon-add {
                opacity: 0;

                transform: rotate(180deg);
            }

            &:checked ~ .card--base__header .card--base__icon-sub {
                opacity: 1;

                transform: rotate(180deg);
            }
        }

        &__content {
            margin-left: 5.5rem;
            margin-bottom: $spacing-m;
        }
    }

    &--basess {
        min-width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        background: #f2f2f2;
        border-right: 1px solid #ccc;
    }

    &--portfolio {
        width: 100%;
        display: flex;
        flex-direction: row;
        

        &__BG {
            width: 50vw;
            height: 50vh;
            background-color: beige;
            position: relative;

            //box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px;
            
            // Motion
            transform: scale(1);
            transition: transform 0.2s ease-in-out;
        }
    
        &__content {
            // appearance
            background-color: $color-black;
            height: 100%;
            width: 40%;

            padding: 0 10px;
            position: absolute;
            left: 0;
            top: 0;

            // layout
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-row-gap: $spacing-s;

            // motion
            clip-path: inset(0 100% 0 0);
            transition: clip-path 0.2s ease-in-out;
        }

        &__overlap {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.3);
            // motion
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &:has(&__BG:hover) {
            .card--portfolio__content {
                clip-path: inset(0 0 0 0%);
            }
            .card--portfolio__BG {
                transform: scale(0.98);
            }
            .card--portfolio__overlap {
                opacity: 1;
            }
        }
    }
}

/* button */
.button {
    // appearance
    border-style: none;
    border-radius: 10px;

    // layout
    display: flex;
    align-items: center;
    justify-content: center;

    &--primary {
        background-color: $color-green;
        color: $color-black;

        // motion
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: $color-green-hover;
        }
    }

    &--secondary {
        background-color: black;
        color: white;

        // motion
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    &--outLine-primary {
        border: 2px solid;
        border-color: $color-green;
        color: $color-green;

        // motion
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
            background-color: $color-green;
            color: $color-black;
        }
    }

    &--outLine-secondary {
        border: 2px solid;
        border-color: $color-black;
        color: black;

        // motion
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
            background-color: $color-black;
            color: white;
        }
    }

    &--small {
        padding-left: 12px;
        padding-right: 12px;
        height: 30px;

        font-weight: 500;
        font-size: 12pt;
    }

    &--medium {
        padding-left: 20px;
        padding-right: 20px;
        height: 40px;
        
        // font
        font-weight:600;
        font-size: 14pt;
    }

    &--large {
        padding-left: 40px;
        padding-right: 40px;
        height: 60px;

        font-weight:600;
        font-size: 16pt;
    }
}









.tabs {
    width: 100%;

    // tabs labels
    &__labels {
        display: flex;
        flex-direction: row;
        align-items: center;

        grid-column-gap: $spacing-s;
    
        margin-bottom: $spacing-l;
    }

    &__label {
        height: 50px;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        font-weight: 600;

        &--no-style {
            text-decoration: underline;
            border-style: none;
        }

        &--primary {
            background-color: $color-green;
            border-style: none;
            transition: background-color 0.2s ease-in-out;
            color: $color-black;

            &:hover {
                background-color: $color-green-hover;
            }
        }

        &--secondary {
            background-color: black;
            border-style: none;
            transition: background-color 0.2s ease-in-out;
            color: white;

            &:hover {
                background-color: $color-black-hover;
            }
        }

        &--tertiary {
            background-color: white;
            border-style: none;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: $color-white-hover;
            }
        }

        // outline
        &--outLine-primary {
            border: 2px solid;
            border-color: $color-green;
            color: $color-green;

            transition: border-color 0.2s ease-in-out;

            &:hover {
                border-color: $color-green-hover;
            }
        }

        &--outLine-secondary {
            border: 2px solid;
            border-color: $color-black;
            color: $color-black;

            transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;

            &:hover {
                background-color: $color-black;
                color: white;
            }
        }

        &--outLine-tertiary {
            border: 2px solid;
            border-color: white;

            transition: border-color 0.2s ease-in-out;

            &:hover {
                border-color: $color-white-hover;
            }
        }

        &--ghost-primary {
            color: $color-green;

            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
            }
        }

        &--ghost-secondary {
            color: $color-black;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }

        &--small {
            padding: 0 15px;
            height: 32px;

            font-size: 10pt;
        }

        &--medium {
            padding: 0 30px;
            height: 40px;

            font-size: 12pt;
        }

        &--large {
            padding: 0 50px;
            height: 60px;

            font-size: 16pt;
        }
    }

    &__input {
        display: none;
    }

    // tabs content
    &__content {
        width: 100%;

        @extend %flex-col;
        grid-row-gap: $spacing-l;
    }
}

#tab-input-1:checked ~ .tabs__content #tabItem_1,
#tab-input-2:checked ~ .tabs__content #tabItem_2,
#tab-input-3:checked ~ .tabs__content #tabItem_3,
#tab-input-4:checked ~ .tabs__content #tabItem_4,
#tab-input-5:checked ~ .tabs__content #tabItem_5 {
    display: flex;
}

#tab-input-1:checked ~ .tabs__labels #tab-1,
#tab-input-2:checked ~ .tabs__labels #tab-2,
#tab-input-3:checked ~ .tabs__labels #tab-3,
#tab-input-4:checked ~ .tabs__labels #tab-4,
#tab-input-5:checked ~ .tabs__labels #tab-5 {
    background-color: black;
    color: white;
}




.input {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;


    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;

    &--outLine {

        &--white {
            border-bottom-color: white;
        }

        &--green {
            border-bottom-color: green;
        }

        &--black {
            border-bottom-color: black;
        }
    }

    &__content {
        &--white {
            color: white;
        }
    }
}

.navBar {
    width: 100%;
    height: 50px;

    position: fixed;
    z-index: 1;
    backdrop-filter: blur(30px);

    // Appearance
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: dashed;
    border-width: 1px;

    // layout
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // motion
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;


    &--darkmode {
        color: white;
    }

    &--hidden {
        transform: translateY(-100%); /* 隱藏nav */
    }

    &__logo {
        height: 30px;
        width: 30px;

        margin-left: $spacing-m;
        margin-right: $spacing-xs;
    }

    &__logo-text {

    }

    &__menuBtn-line {
        height: 5px;
        width: 20px;
        background-color: black;
    }

    &__menuBtn {
        display: flex;
        flex-direction: column;
        grid-row-gap: 2px;

        position: absolute;

        top: 10px;
        right: 10px;
    }

    &__links {
        display: flex;
        flex-direction: row;
        grid-column-gap: 1rem;
        margin-right: $spacing-m;
    }

    &__checkbox {
        display: none;
    }

    &__sideBar {
        background-color: $color-yellow;
        width: 40vw;
        height: 100vh;


        // layout
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        right: 0;
        top: 0;

        // text
        color: black;
        font-size: 24pt;

        // motion
        clip-path: inset(0 0 0 100%);
        transition: clip-path 0.2s ease-in-out;

        &__list {
            display: flex;
            flex-direction: column;
            grid-row-gap: $spacing-s;
            padding-left: 40px;
        }

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            margin-top: $spacing-s;
        }

        &__content {
            width: 100%;
        }

        &__footer {
            height: 40vh;

        }

        &__listItem-CN {
            font-size: 24pt;
        }

        &__listItem-EN {
            font-size: 12pt;
        }

        &__overlap {
            height: 100vh;
            width: 100vw;
            position: absolute;
            background: rgba(0, 0, 0, 0.3);
            
            top: 0;
            left: 0;

            // motion
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            pointer-events: none;
        }
    }

    &:has(&__checkbox:checked) {
        .navBar__sideBar__overlap {
            opacity: 1;
            pointer-events: auto;
        }

        .navBar__sideBar {
            clip-path: inset(0 0 0 0);
        }

    }
}

.footer {
    background-color: $color-yellow;
    height: 50vh;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    &__content {
        // appearance
        width: 80%;

        // layout
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row-gap: $spacing-m;
        
    }

    &__link-icons {
        // layout
        display: flex;
        flex-direction: row;

        grid-column-gap: $spacing-m;

    }
}

// portfolio page

.portfolio {
    background-color: $color-green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__content {
        width: 80%;
        display: flex;
        flex-direction: column;
        grid-row-gap: $spacing-xxl;
        align-items: center;

        margin-top: $spacing-xxl;
        margin-bottom:$spacing-m;
    }

    &__header {
        font-size: 50pt;
    }
}


.loading-page {
    transition: transform 0.5s ease-in-out;
    position: absolute;
    transform: translateY(0);
}

.loading-page.hidden {
    transform: translateY(-100vh);
}

.loading-main {
    transform: translateY(100vh);
    transition: transform 0.5s ease-in-out;
}

.loading-main.active {
    transform: translateY(0)
}