@charset "UTF-8";
.tabs__content, .card--base {
  display: flex;
  flex-direction: column;
}

.card--base__header {
  display: flex;
  flex-direction: row;
}

/* ------------------------------ Normalize ------------------------------ */
body {
  margin: 0;
  padding: 0;
  background-color: #232323;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

button, input, a {
  background-color: transparent;
  border-style: none;
  text-decoration: none;
  color: inherit;
}

ol, ul {
  padding: 0;
}

/* ------------------------------ Utility ------------------------------ */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-item-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-s {
  height: 300px;
  width: 300px;
  background-color: black;
}

.image-m {
  height: 500px;
  width: 500px;
  background-color: black;
}

.hidden {
  visibility: hidden;
}

.display-1 {
  font-size: 96px;
  font-weight: 800;
  letter-spacing: 1px;
}

.display-0 {
  font-size: 128px;
  font-weight: 800;
  letter-spacing: 1px;
}

.heading-1 {
  font-size: 64px;
  font-weight: 700;
}

.heading-2 {
  font-size: 48px;
  font-weight: 700;
}

.heading-3 {
  font-size: 32px;
  font-weight: 700;
}

.paragraph-s {
  font-size: 12px;
}

.paragraph-m {
  font-size: 16px;
}

.white--primary {
  color: white;
}

.white--secondary {
  color: rgb(200, 200, 200);
}

.orange {
  color: orange;
}

.bg-black {
  background-color: #232323;
}

.bg-green {
  background-color: #65E898;
}

.about__img {
  height: 500px;
  width: 500px;
  background-color: black;
}

.verticalText-container {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-text {
  font-size: 100pt;
  writing-mode: vertical-rl;
  position: sticky;
  top: 20vh;
  color: rgba(0, 0, 0, 0.7);
}
.vertical-text--white {
  color: rgba(255, 255, 255, 0.5);
}
.icon-m {
  height: 30px;
  width: 30px;
}
.icon-l {
  height: 70px;
  width: 70px;
}

.img-cover {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.spacer-xxs {
  height: 0.25rem;
}
.spacer-xs {
  height: 0.5rem;
}
.spacer-s {
  height: 1rem;
}
.spacer-m {
  height: 2rem;
}
.spacer-l {
  height: 4rem;
}
.spacer-xl {
  height: 8rem;
}
.spacer-xxl {
  height: 16rem;
}

.m-t-xxs {
  margin-top: 0.25rem;
}
.m-t-xs {
  margin-top: 0.5rem;
}
.m-t-s {
  margin-top: 1rem;
}
.m-t-m {
  margin-top: 2rem;
}
.m-t-l {
  margin-top: 4rem;
}
.m-t-xl {
  margin-top: 8rem;
}
.m-t-xxl {
  margin-top: 16rem;
}
.m-b-xxs {
  margin-bottom: 0.25rem;
}
.m-b-xs {
  margin-bottom: 0.5rem;
}
.m-b-s {
  margin-bottom: 1rem;
}
.m-b-m {
  margin-bottom: 2rem;
}
.m-b-l {
  margin-bottom: 4rem;
}
.m-b-xl {
  margin-bottom: 8rem;
}
.m-b-xxl {
  margin-bottom: 16rem;
}
.m-l-xxs {
  margin-left: 0.25rem;
}
.m-l-xs {
  margin-left: 0.5rem;
}
.m-l-s {
  margin-left: 1rem;
}
.m-l-m {
  margin-left: 2rem;
}
.m-l-l {
  margin-left: 4rem;
}
.m-l-xl {
  margin-left: 8rem;
}
.m-l-xxl {
  margin-left: 16rem;
}
.m-r-xxs {
  margin-right: 0.25rem;
}
.m-r-xs {
  margin-right: 0.5rem;
}
.m-r-s {
  margin-right: 1rem;
}
.m-r-m {
  margin-right: 2rem;
}
.m-r-l {
  margin-right: 4rem;
}
.m-r-xl {
  margin-right: 8rem;
}
.m-r-xxl {
  margin-right: 16rem;
}

.p-t-xxs {
  padding-top: 0.25rem;
}
.p-t-xs {
  padding-top: 0.5rem;
}
.p-t-s {
  padding-top: 1rem;
}
.p-t-m {
  padding-top: 2rem;
}
.p-t-l {
  padding-top: 4rem;
}
.p-t-xl {
  padding-top: 8rem;
}
.p-t-xxl {
  padding-top: 16rem;
}
.p-b-xxs {
  padding-bottom: 0.25rem;
}
.p-b-xs {
  padding-bottom: 0.5rem;
}
.p-b-s {
  padding-bottom: 1rem;
}
.p-b-m {
  padding-bottom: 2rem;
}
.p-b-l {
  padding-bottom: 4rem;
}
.p-b-xl {
  padding-bottom: 8rem;
}
.p-b-xxl {
  padding-bottom: 16rem;
}
.p-l-xxs {
  padding-left: 0.25rem;
}
.p-l-xs {
  padding-left: 0.5rem;
}
.p-l-s {
  padding-left: 1rem;
}
.p-l-m {
  padding-left: 2rem;
}
.p-l-l {
  padding-left: 4rem;
}
.p-l-xl {
  padding-left: 8rem;
}
.p-l-xxl {
  padding-left: 16rem;
}
.p-r-xxs {
  padding-right: 0.25rem;
}
.p-r-xs {
  padding-right: 0.5rem;
}
.p-r-s {
  padding-right: 1rem;
}
.p-r-m {
  padding-right: 2rem;
}
.p-r-l {
  padding-right: 4rem;
}
.p-r-xl {
  padding-right: 8rem;
}
.p-r-xxl {
  padding-right: 16rem;
}

.gap-xxs {
  gap: 0.25rem;
}
.gap-xs {
  gap: 0.5rem;
}
.gap-s {
  gap: 1rem;
}
.gap-m {
  gap: 2rem;
}
.gap-l {
  gap: 4rem;
}
.gap-xl {
  gap: 8rem;
}
.gap-xxl {
  gap: 16rem;
}

.navBar-spacer {
  width: 100%;
  height: 50px;
}

.spacer-video {
  width: 80vw;
  height: 40vw;
}

.line--white {
  height: 1px;
  width: 100%;
  background-color: rgb(200, 200, 200);
}
.line--black {
  height: 1px;
  width: 100%;
  background-color: black;
}

/* ------------------------------ Component ------------------------------ */
.card--base {
  grid-row-gap: 1rem;
  width: 100%;
  align-items: start;
  overflow: hidden;
  max-height: 80px;
  transition: max-height 0.5s ease-in-out;
}
.card--base:has(.card--base__toggle:checked) {
  max-height: 999px;
}
.card--base__header {
  align-items: center;
  grid-column-gap: 2rem;
  transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1);
  margin-bottom: 4rem;
}
.card--base__header:hover {
  transform: translateX(10px);
}
.card--base__icon-add {
  position: absolute;
  opacity: 1;
  transition: opacity 0.1s ease-in-out, transform 0.2s cubic-bezier(0, 0, 0.5, 1);
}
.card--base__icon-sub {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, transform 0.2s cubic-bezier(0, 0, 0.5, 1);
}
.card--base__toggle {
  display: none;
}
.card--base__toggle:checked ~ .card--base__header .card--base__icon-add {
  opacity: 0;
  transform: rotate(180deg);
}
.card--base__toggle:checked ~ .card--base__header .card--base__icon-sub {
  opacity: 1;
  transform: rotate(180deg);
}
.card--base__content {
  margin-left: 5.5rem;
  margin-bottom: 2rem;
}
.card--basess {
  min-width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: #f2f2f2;
  border-right: 1px solid #ccc;
}
.card--portfolio {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.card--portfolio__BG {
  width: 50vw;
  height: 50vh;
  background-color: beige;
  position: relative;
  box-shadow: 10px 10px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.card--portfolio__content {
  background-color: #232323;
  height: 100%;
  width: 40%;
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row-gap: 1rem;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  transition: -webkit-clip-path 0.2s ease-in-out;
  transition: clip-path 0.2s ease-in-out;
  transition: clip-path 0.2s ease-in-out, -webkit-clip-path 0.2s ease-in-out;
}
.card--portfolio__overlap {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.card--portfolio:has(.card--portfolio__BG:hover) .card--portfolio__content {
  -webkit-clip-path: inset(0 0 0 0%);
          clip-path: inset(0 0 0 0%);
}
.card--portfolio:has(.card--portfolio__BG:hover) .card--portfolio__BG {
  transform: scale(0.98);
}
.card--portfolio:has(.card--portfolio__BG:hover) .card--portfolio__overlap {
  opacity: 1;
}

/* button */
.button {
  border-style: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button--primary {
  background-color: #65E898;
  color: #232323;
  transition: background-color 0.2s ease-in-out;
}
.button--primary:hover {
  background-color: #54cf83;
}
.button--secondary {
  background-color: black;
  color: white;
  transition: background-color 0.2s ease-in-out;
}
.button--secondary:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.button--outLine-primary {
  border: 2px solid;
  border-color: #65E898;
  color: #65E898;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.button--outLine-primary:hover {
  background-color: #65E898;
  color: #232323;
}
.button--outLine-secondary {
  border: 2px solid;
  border-color: #232323;
  color: black;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.button--outLine-secondary:hover {
  background-color: #232323;
  color: white;
}
.button--small {
  padding-left: 12px;
  padding-right: 12px;
  height: 30px;
  font-weight: 500;
  font-size: 12pt;
}
.button--medium {
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  font-weight: 600;
  font-size: 14pt;
}
.button--large {
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  font-weight: 600;
  font-size: 16pt;
}

.tabs {
  width: 100%;
}
.tabs__labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 1rem;
  margin-bottom: 4rem;
}
.tabs__label {
  height: 50px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-weight: 600;
}
.tabs__label--no-style {
  text-decoration: underline;
  border-style: none;
}
.tabs__label--primary {
  background-color: #65E898;
  border-style: none;
  transition: background-color 0.2s ease-in-out;
  color: #232323;
}
.tabs__label--primary:hover {
  background-color: #54cf83;
}
.tabs__label--secondary {
  background-color: black;
  border-style: none;
  transition: background-color 0.2s ease-in-out;
  color: white;
}
.tabs__label--secondary:hover {
  background-color: rgb(10, 10, 10);
}
.tabs__label--tertiary {
  background-color: white;
  border-style: none;
  transition: background-color 0.2s ease-in-out;
}
.tabs__label--tertiary:hover {
  background-color: rgb(245, 245, 245);
}
.tabs__label--outLine-primary {
  border: 2px solid;
  border-color: #65E898;
  color: #65E898;
  transition: border-color 0.2s ease-in-out;
}
.tabs__label--outLine-primary:hover {
  border-color: #54cf83;
}
.tabs__label--outLine-secondary {
  border: 2px solid;
  border-color: #232323;
  color: #232323;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.tabs__label--outLine-secondary:hover {
  background-color: #232323;
  color: white;
}
.tabs__label--outLine-tertiary {
  border: 2px solid;
  border-color: white;
  transition: border-color 0.2s ease-in-out;
}
.tabs__label--outLine-tertiary:hover {
  border-color: rgb(245, 245, 245);
}
.tabs__label--ghost-primary {
  color: #65E898;
  transition: background-color 0.2s ease-in-out;
}
.tabs__label--ghost-primary:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.tabs__label--ghost-secondary {
  color: #232323;
  transition: background-color 0.2s ease-in-out;
}
.tabs__label--ghost-secondary:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.tabs__label--small {
  padding: 0 15px;
  height: 32px;
  font-size: 10pt;
}
.tabs__label--medium {
  padding: 0 30px;
  height: 40px;
  font-size: 12pt;
}
.tabs__label--large {
  padding: 0 50px;
  height: 60px;
  font-size: 16pt;
}
.tabs__input {
  display: none;
}
.tabs__content {
  width: 100%;
  grid-row-gap: 4rem;
}

#tab-input-1:checked ~ .tabs__content #tabItem_1,
#tab-input-2:checked ~ .tabs__content #tabItem_2,
#tab-input-3:checked ~ .tabs__content #tabItem_3,
#tab-input-4:checked ~ .tabs__content #tabItem_4,
#tab-input-5:checked ~ .tabs__content #tabItem_5 {
  display: flex;
}

#tab-input-1:checked ~ .tabs__labels #tab-1,
#tab-input-2:checked ~ .tabs__labels #tab-2,
#tab-input-3:checked ~ .tabs__labels #tab-3,
#tab-input-4:checked ~ .tabs__labels #tab-4,
#tab-input-5:checked ~ .tabs__labels #tab-5 {
  background-color: black;
  color: white;
}

.input {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
}
.input--outLine--white {
  border-bottom-color: white;
}
.input--outLine--green {
  border-bottom-color: green;
}
.input--outLine--black {
  border-bottom-color: black;
}
.input__content--white {
  color: white;
}

.navBar {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: dashed;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
.navBar--darkmode {
  color: white;
}
.navBar--hidden {
  transform: translateY(-100%); /* 隱藏nav */
}
.navBar__logo {
  height: 30px;
  width: 30px;
  margin-left: 2rem;
  margin-right: 0.5rem;
}
.navBar__menuBtn-line {
  height: 5px;
  width: 20px;
  background-color: black;
}
.navBar__menuBtn {
  display: flex;
  flex-direction: column;
  grid-row-gap: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.navBar__links {
  display: flex;
  flex-direction: row;
  grid-column-gap: 1rem;
  margin-right: 2rem;
}
.navBar__checkbox {
  display: none;
}
.navBar__sideBar {
  background-color: #d5cfa4;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  color: black;
  font-size: 24pt;
  -webkit-clip-path: inset(0 0 0 100%);
          clip-path: inset(0 0 0 100%);
  transition: -webkit-clip-path 0.2s ease-in-out;
  transition: clip-path 0.2s ease-in-out;
  transition: clip-path 0.2s ease-in-out, -webkit-clip-path 0.2s ease-in-out;
}
.navBar__sideBar__list {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
  padding-left: 40px;
}
.navBar__sideBar__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.navBar__sideBar__content {
  width: 100%;
}
.navBar__sideBar__footer {
  height: 40vh;
}
.navBar__sideBar__listItem-CN {
  font-size: 24pt;
}
.navBar__sideBar__listItem-EN {
  font-size: 12pt;
}
.navBar__sideBar__overlap {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}
.navBar:has(.navBar__checkbox:checked) .navBar__sideBar__overlap {
  opacity: 1;
  pointer-events: auto;
}
.navBar:has(.navBar__checkbox:checked) .navBar__sideBar {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.footer {
  background-color: #d5cfa4;
  height: 50vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.footer__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 2rem;
}
.footer__link-icons {
  display: flex;
  flex-direction: row;
  grid-column-gap: 2rem;
}

.portfolio {
  background-color: #65E898;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  grid-row-gap: 16rem;
  align-items: center;
  margin-top: 16rem;
  margin-bottom: 2rem;
}
.portfolio__header {
  font-size: 50pt;
}/*# sourceMappingURL=styles.css.map */