// color 顏色該怎麼規劃？
$color-green: #65E898;
$color-green-hover: #54cf83;

$color-black: #333333;
$color-black-hover: rgb(10, 10, 10);

$color-white-hover: rgb(245, 245, 245);

$color-yellow: #d5cfa4;
$color-white--primary: white;
$color-white--secondary: rgb(200, 200, 200);
$color-white--tertiary: rgb(128, 128, 128);

// typography
$root-font-size: 12pt;

// spacing
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-l: 4rem;
$spacing-xl: 8rem;
$spacing-xxl: 16rem;

// util-extand
%flex-col {
    display: flex;
    flex-direction: column;
}

%flex-row {
    display: flex;
    flex-direction: row;
}