@import '../../styles/variables.scss';

%section-black {
    @extend %flex-row;
    background-color: $color-black;
    padding: 10px 0;
    justify-content: space-between;
    color: white;

    position: relative;
}

%section-green {
    @extend %flex-row;
    background-color: $color-green;
    padding: 10px 0;
    justify-content: space-between;
    color: black;

}

%content-layout {
    width: 80%;
    @extend %flex-col;
    grid-row-gap: $spacing-m;

    margin-top: $spacing-xxl;
    margin-bottom: $spacing-xxl;

    position: relative;
    z-index: 1;
}

.home {
    width: 100%;
    @extend %flex-col;
}

.hero {
    background-color: $color-green;
    height: 100vh;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    position: relative;
    z-index: 1;

    &__three-scene {
        position: absolute;
        // left: 5vw;
        right: -10vw;
        top: -20vh;
        z-index: -1;
    }

    &__buttons {
        @extend %flex-row;

        grid-column-gap: $spacing-s;
    }

    &__contents {
        @extend %flex-row;

        justify-content: space-between;
        align-items: end;
        width: 80%;

        // spacing
        margin-top: $spacing-xl;

        position: relative;
        z-index: 1;
    }

    @media (max-width: 767px) {
        &__contents {
            flex-direction: column;
            align-items: start;
            gap: $spacing-m;
        }
    }

    &__pointer {
        position: absolute;
        color: white;
        width: 40vw;
    }
}

    /* ------------------------------ Video ------------------------------ */
.video {
    width: 75vw;
    background-color: rgb(0, 0, 0);
    position: absolute;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 75vh;

    z-index: 1;

    border-radius: 5px;
    overflow: hidden;

    &__spacer {
        width: 100%;
        height: 500px;
        background-color: $color-black;
    }
}

/* ------------------------------ About ------------------------------ */
.about {
    @extend %section-black;

    &__wrapper {
        @extend %flex-row;
        justify-content: space-between;
        width: 100%;
    }

    &__content {
        @extend %content-layout;
    }
}

/* ------------------------------ Scroll Banner ------------------------------ */
.scroll-banner {
    &__para {
        color: $color-black;
        text-shadow:
            1px 1px 0 white,
            -1px 1px 0 white,
            1px -1px 0 white,
            -1px -1px 0 white;
    }
}

/* ------------------------------ Servieces ------------------------------ */
.services {
    @extend %section-black;

    &__content {
        @extend %content-layout;
    }

    &__block {
        @extend %flex-row;

        justify-content: space-between;

        &__content {
            @extend %flex-col;
            justify-content: space-between;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }

    @media (max-width: 767px) {
        &__header {
            flex-direction: column;
            align-items: start;
            gap: $spacing-m
        }
    }
}

/* ------------------------------ Portfolio------------------------------ */
.portfolio {
    @extend %section-black;
    
    &__content {
        @extend %content-layout;
    }
}

/* ------------------------------ Contact ------------------------------ */
.contact {
    @extend %section-black;

    &__content {
        @extend %content-layout;
    }

    &__label {
        font-size: medium;
        color: white;
    }

    &__form {
        @extend %flex-col;

        grid-row-gap: $spacing-m;
    }

    &__header {
        font-size: 30pt;
        color: white;
        margin-bottom: $spacing-l;
    }
}

.testUse {
    &--BG {
        height: 500vh;
        width: 100vw;
        top: 0;
        left: 0;

        position: absolute;

        &__container {
            position: absolute;
            z-index: 100;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);            
        }

    }    
}

.verticalText-container {
    padding: $spacing-l 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .verticalText-container {
        display: none;
    }
}

.vertical-text {
    font-size: 100pt;
    writing-mode: vertical-rl;
    position: sticky;
    top: 20vh;
    color: rgba(0, 0, 0, 0.7);

    &--white {
        color: rgba(255, 255, 255, 0.5);
    }

    &--black {

    }
}

