$line-width: 15%;
$icon-size: 55px;

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: $icon-size;
    width: $icon-size;

    position: relative;
}

.line-vertical {
    width: $line-width;
    height: 100%;
    position: absolute;

    background-color: white;
}

.line-horizon {
    width: 100%;
    height: $line-width;
    position: absolute;

    background-color: white;
}