@import '../../../styles/variables.scss';

$radius: 10px;


.small {
    height: 30px;

    // font
    font-weight:600;
    font-size: 12pt;
}

.medium {
    padding: 20px 0;
    height: 40px;
    
    // font
    font-weight:600;
    font-size: 14pt;
}


.large {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;

    // font
    font-weight:600;
    font-size: 16pt;
}


.buttonWithIcon {
    border-radius: $radius;

    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;

    border: 1px solid;
    overflow: hidden;



    position: relative;
    transition: transform 0.2s ease-in-out;



    &:hover {
        transform: scale(1.05);
    }

    &:hover .BG{
        clip-path: inset(0 0 0 100%);

    }
    &:hover .BG.outline {
        clip-path: inset(0 0 0 0);
    }



    &:hover .label,
    &:hover .icon {
        color: black;
    }

    &:hover .label.outline,
    &:hover .icon.outline {
        color: white;
    }

    &:hover .wrapper svg:nth-child(1) {
        transform: translateX(0);
    }

    &:hover .wrapper svg:nth-child(3) {
        transform: translate(1000%);
    }

    &:hover .wrapper {
        transform: translateX(10%);
    }
}

.wrapper svg:nth-child(1) {
    transform: translateX(-1000%);
}

.wrapper svg:nth-child(3) {
    transform: translateX(0);
}

.icon {
    color: white;
    height: 20px;
    width: 20px;


    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}



.icon.outline {
    color: black;
}


.wrapper {
    display: flex;
    align-items: center;
    gap: $spacing-s;

    transform: translateX(-10%);
    transition: transform 0.2s ease-in-out;
}


.label {
    color: white;

    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    
    position: relative;
}

.label.outline {
    color: black;
}



.BG {
    height: 100%;
    width: 100%;
    border-radius: $radius;

    position: absolute;

    background-color: black;

    clip-path: inset(0 0 0 0);

    transition: clip-path 0.2s ease-in-out;
}

.BG.outline {
    clip-path: inset(0 100% 0 0);
}